<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$_cateData1['k']}</title>
<!--描述和摘要-->
<meta name="Keywords" content="{$_seo['keys']}"/>
<meta name="description" content="{$_seo['desc']}"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.css">
<link rel="stylesheet" href="__STATIC__/index/css/normalize.css">
<link rel="stylesheet" href="__STATIC__/index/css/style.css">
<!--[if IE]>
		<script src="__STATIC__/index/js/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	{include file="header" /}
<div class="container">
	<div class="row custom-honor">
		<h1 class="text-center">荣誉资质</h1>
		<h2 class="text-center">Honor</h2>
	</div>
</div>
<div class="container" id="honor">
	<div class="htmleaf-container">
		<div class="grid">
			{volist name="_rongyu" id="vo"}
		   <div class="grid-item">
		   	<img src="__ROOT__/uploads/{$vo.rongyu_image}" class="img-responsive">
		   </div>
		   {/volist}
		</div>
	</div>
</div>
{include file="footer" /}
	<script src="__STATIC__/index/js/jquery-1.11.3.js"></script>
	<script src="__STATIC__/index/js/bootstrap.js"></script>
	<script src="__STATIC__/index/js/nav.js"></script>	
	<script src="__STATIC__/index/js/dynamics.js"></script>
	<script src="__STATIC__/index/js/minigrid.js"></script>
    <script>
      (function(){
		 function animate(item, x, y, index) {
		   dynamics.animate(item, {
		     translateX: x,
		     translateY: y,
		     opacity: 1
		    }, {
		      type: dynamics.spring,
		      duration: 800,
		      frequency: 120,
		      delay: 100 + index * 30
		    });
		  }
		  
		  minigrid('.grid', '.grid-item', 6, animate);

		  window.addEventListener('resize', function(){
		    minigrid('.grid', '.grid-item', 6, animate);
		  });
		})();
    </script>
     <script type="text/javascript">
        	//波浪动画
$(function () {
	var marqueeScroll = function (id1, id2, id3, timer) {
		var $parent = $("#" + id1);
		var $goal = $("#" + id2);
		var $closegoal = $("#" + id3);
		$closegoal.html($goal.html());
		function Marquee() {
			if (parseInt($parent.scrollLeft()) - $closegoal.width() >= 0) {
				$parent.scrollLeft(parseInt($parent.scrollLeft()) - $goal.width());
			}
			else {
				$parent.scrollLeft($parent.scrollLeft() + 1);
			}
		}

		setInterval(Marquee, timer);
	}
	var marqueeScroll1 = new marqueeScroll("marquee-box", "wave-list-box1", "wave-list-box2", 20);
	var marqueeScroll2 = new marqueeScroll("marquee-box3", "wave-list-box4", "wave-list-box5", 40);
});
        </script>
</body>
</html>