{extend name="base" /}
{block name="content"}
<section class="Hui-article-box">
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a class="btn btn-primary radius" onclick="picture_add('添加图片','create')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加图片</a></span></div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="40"><input name="" type="checkbox" value=""></th>
							<th width="80">ID</th>
							<th width="100">封面</th>
							<th>图片链接</th>
							<th>图片描述</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="rongyu" id="vo"}
						<tr class="text-c">
							<td><input name="" type="checkbox" value=""></td>
							<td>{$vo.rongyu_id}</td>
							<td><a href="javascript:;" onClick="picture_edit('图库编辑','picture-show.html','10001')"><img width="100" class="picture-thumb" src="__ROOT__/uploads/{$vo.rongyu_image}"></a></td>
							<td class="text-l"><a class="maincolor" href="{$vo.rongyu_link}">{$vo.rongyu_link}</a></td>
							<td class="text-l"><a class="maincolor" href="{$vo.rongyu_desc}">{$vo.rongyu_desc}</a></td>
							<td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="picture_edit('图库编辑','{:url("edit")}'+'?id='+{$vo.rongyu_id})" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="picture_del(this,'{$vo.rongyu_id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
			<div class="pagination pagination-sm pull-right">
                {$rongyu->render()}
            </div>
		</article>
	</div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
	]
});
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//发异步删除数据
        $.get("{:url('delete')}",{id:id});
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}