{extend name="base" /}
{block name="content"}
<ul class="nav nav-tabs" role="tablist">
                <li><a href="{:url('index')}">标签管理</a></li>
                {if condition="input('param.gongsi_id')"}
                <li class="active"><a href="">标签编辑</a></li>
                {else/}
                 <li class="active"><a href="">标签添加</a></li>
                {/if}    
            </ul>
            <form class="form-horizontal" id="form"  action="" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">标签管理</h3>
                    </div>
                    <div class="panel-body">

                        	<div class="row">
                        		<label for="" class="col-md-3 control-label">标签名</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="gongsi_name" value="{$oldData['gongsi_name']}">
                            </div>
                        	</div>
                            <div class="row">
                                <label for="" class="col-md-3 control-label">标签值</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="gongsi_value" value="{$oldData['gongsi_value']}">
                            </div>
                            </div>
                            
                        
                    </div>
                </div>
                <input type="hidden" name="gongsi_id" value="{:input('param.gongsi_id')}">
                <div class="row text-center">
                	<button class="btn btn-primary" type="submit">确定</button>
                </div>
                
            </form>
{/block}