<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$_cateData1['f']}</title>
<!--描述和摘要-->
<meta name="Keywords" content="{$_seo['keys']}"/>
<meta name="description" content="{$_seo['desc']}"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.css">
<link rel="stylesheet" href="__STATIC__/index/css/style.css">
<link rel="stylesheet" href="__STATIC__/index/css/aos.css">
</head>
<body>
	{include file="header" /}

<div class="container" id="fuwu">
	<div class="wrap ">
	<div class="section sTop">
		<div class="inner">
			<h2 class="title text-center">{$_tag1['a']}</h2>
			<p>{$_chengnuo['a']}</p>
		</div>
	</div>

	<div class="subMenu" >
	 	<div class="inner">
	 		<a href="#sTop" class="subNavBtn hidden-xs hidden-sm">{$_tag1['a']}</a>
	 		<a href="#s1" class="subNavBtn">{$_tag1['b']}</a> 
			<a href="#s2" class="subNavBtn">{$_tag1['c']}</a>
			<a href="#s3" class="subNavBtn">{$_tag1['d']}</a>
			<a href="#s4" class="subNavBtn">{$_tag1['e']}</a>
			<a href="#s5" class="subNavBtn">{$_tag1['f']}</a>
			<a href="#s6" class="subNavBtn hidden-xs hidden-sm">{$_tag1['g']}</a>
		</div>
	</div>

	<div class="section s1" aos="fade-up">
		<div class="inner ">
			<h2>{$_tag1['b']}</h2>
			<h4>{$_shouhou['a']}</h4>

    		<h4>{$_shouhou['b']}</h4>

    		<h4>{$_shouhou['c']}</h4>

    		<h4>{$_shouhou['d']}</h4>
		</div>
	</div>
	<div class="section s2" aos="fade-up">
		<div class="inner">
			<h2>{$_tag1['c']}</h2>
			<h4>{$_jishu['a']}</h4>
			<h4>{$_jishu['b']}</h4>
			<h4>{$_jishu['c']}</h4>
	</div>
	<div class="section s3" aos="fade-up">
		<div class="inner">
			<h2>{$_tag1['d']}</h2>
			<h4>{$_baoxiu['a']}</h4>
			<h4>{$_baoxiu['b']}</h4>
			<h4>{$_baoxiu['c']}</h4>
		</div>
	</div>
	<div class="section s4" aos="fade-up">
		<div class="inner">
			<h2>{$_tag1['e']}</h2>
			<h4>{$_shoufei['a']}</h4>
			<h4>{$_shoufei['b']}</h4>
		</div>
	</div>
	<div class="section s5" aos="fade-up">
		<div class="inner">
			<h2>{$_tag1['f']}</h2>
			<h4>{$_peijian['a']}</h4>
			<h4>{$_peijian['b']}</h4>
			<h4>{$_peijian['c']}</h4>
     		<h4>{$_peijian['d']}</h4>
			<h4>{$_peijian['e']}</h4>
		</div>
	</div>
	<div class="section s6" aos="fade-up">
		<div class="inner">
			<h2>{$_tag1['g']}</h2>
			<h3>{$_beizhu['a']}</h3>
			<h4>{$_beizhu['b']}</h4>
			<h4>{$_beizhu['c']}</h4>
     		<h4>{$_beizhu['d']}</h4>
     		<h4>{$_beizhu['e']}</h4>
      		<h4>{$_beizhu['f']}</h4>
      		<h3>{$_beizhu['g']}</h3>
      		<h3>{$_beizhu['h']}</h3>
		</div>
	</div>
</div>

</div>
{include file="footer" /}
	<script src="__STATIC__/index/js/jquery-1.11.3.js"></script>
	<script	src="__STATIC__/index/js/jquery.smint.js" type="text/javascript" ></script>

<script type="text/javascript">
	

$(document).ready( function() {
    $('.subMenu').smint({
    	'scrollSpeed' : 1000
    });
});


</script>
	<script src="__STATIC__/index/js/bootstrap.js"></script>
	<script src="__STATIC__/index/js/nav.js"></script>
	<script src="__STATIC__/index/js/aos.js"></script>
	 <script>
    AOS.init({
    	easing: 'ease-out-back',
			duration: 1000,
			disable: window.innerWidth < 1024,

    });
  </script>
	 <script type="text/javascript">
        	//波浪动画
$(function () {
	var marqueeScroll = function (id1, id2, id3, timer) {
		var $parent = $("#" + id1);
		var $goal = $("#" + id2);
		var $closegoal = $("#" + id3);
		$closegoal.html($goal.html());
		function Marquee() {
			if (parseInt($parent.scrollLeft()) - $closegoal.width() >= 0) {
				$parent.scrollLeft(parseInt($parent.scrollLeft()) - $goal.width());
			}
			else {
				$parent.scrollLeft($parent.scrollLeft() + 1);
			}
		}

		setInterval(Marquee, timer);
	}
	var marqueeScroll1 = new marqueeScroll("marquee-box", "wave-list-box1", "wave-list-box2", 20);
	var marqueeScroll2 = new marqueeScroll("marquee-box3", "wave-list-box4", "wave-list-box5", 40);
});
        </script>
</body>
</html>