<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$_cateData1['d']}</title>
<!--描述和摘要-->
<meta name="Keywords" content="{$_seo['keys']}"/>
<meta name="description" content="{$_seo['desc']}"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.css">
<link rel="stylesheet" href="__STATIC__/index/css/style.css">
<link rel="stylesheet" href="__STATIC__/index/css/normalize.css">
</head>
<body>
	{include file="header" /}

{volist name="field" id="vo"}
<div class="container" id="news">
	<div class="row custom-wen">
		<div class="custom-xin">
		    <div class="col-md-4 hidden-xs custom-date">
			  <div class="custom-riqi">
				<p class="custom-day">{$vo['new_date']}</p>
				<p class="custom-year">日期</p>
			  </div>
		    </div>
		  <div class="col-md-8 custom-xinwen">
			<h3>{$vo['new_title']}</h3>
			<p class="hidden-xs hidden-sm" style="color:#ACACAC;">{$vo['new_digest']}</p>
			<a href="{:url('index/newsdetail/index',['new_id'=>$vo['new_id']])}" class="btn btn-success">查看详情</a>
		  </div>
	    </div>
    </div>
</div>
{/volist}
<div class="container">
	<div class="row">
		<div class="pagination pagination-sm pull-right">
                {$field->render()}
            </div>
	</div>
	
</div>

{include file="footer" /}
	<script src="__STATIC__/index/js/jquery-1.11.3.js"></script>
	<script src="__STATIC__/index/js/bootstrap.js"></script>
	<script src="__STATIC__/index/js/nav.js"></script>
	 <script type="text/javascript">
        	//波浪动画
$(function () {
	var marqueeScroll = function (id1, id2, id3, timer) {
		var $parent = $("#" + id1);
		var $goal = $("#" + id2);
		var $closegoal = $("#" + id3);
		$closegoal.html($goal.html());
		function Marquee() {
			if (parseInt($parent.scrollLeft()) - $closegoal.width() >= 0) {
				$parent.scrollLeft(parseInt($parent.scrollLeft()) - $goal.width());
			}
			else {
				$parent.scrollLeft($parent.scrollLeft() + 1);
			}
		}

		setInterval(Marquee, timer);
	}
	var marqueeScroll1 = new marqueeScroll("marquee-box", "wave-list-box1", "wave-list-box2", 20);
	var marqueeScroll2 = new marqueeScroll("marquee-box3", "wave-list-box4", "wave-list-box5", 40);
});
        </script>
</body>
</html>