<div class="container">
		<div class="row custom-top">
			<div class="custom-picture">
				<img src="__STATIC__/index/images/xd-top.png" class="img-responsive" alt="山西兴达酒店厨房设备工程有限公司">
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default equinav custom-hang" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span class="navbar-brand" id="custom-font1">山西兴达酒店厨房设备工程有限公司</span>
		</div>
		
		<div class="collapse navbar-collapse" id="custom-daohang">    
			<ul class="nav navbar-nav">
				<li><a href="{:url('index/index/index')}">{$_cateData1['a']}</a></li>
				<li>
					<a href="{:url('index/company/index')}" class="dropdown-toggle" data-toggle="dropdown">{$_cateData1['b']}<b class="caret"></b></a>
					<ul class="dropdown-menu depth_0">
						<li><a href="{:url('index/company/index')}">{$_cateData1['h']}</a></li>
						<li><a href="{:url('index/progress/index')}">{$_cateData1['i']}</a></li>
						<li><a href="{:url('index/culture/index')}">{$_cateData1['j']}</a></li>
						<li><a href="{:url('index/honor/index')}">{$_cateData1['k']}</a></li>
					</ul>
				</li>
				<li><a href="{:url('index/product/index')}">{$_cateData1['c']}</a></li>
				<li><a href="{:url('index/news/index')}">{$_cateData1['d']}</a></li>
				<li><a href="{:url('index/project/index')}">{$_cateData1['e']}</a></li>
				<li><a href="{:url('index/service/index')}">{$_cateData1['f']}</a></li>
				<li><a href="{:url('index/contract/index')}">{$_cateData1['g']}</a></li>
				
			</ul>
		</div>
	</nav>