{extend name="base" /}
{block name="content"}

<ul class="nav nav-tabs" role="tablist">
                <li><a href="{:url('index')}">新闻管理</a></li>
                <li class="active"><a href="">添加新闻</a></li>
            </ul>
            <form class="form-horizontal" id="form"  action="" method="post" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">新闻管理</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label for="" class="col-md-3 control-label">新闻标题</label>
                            <div class="col-md-6">
                                <input type="text" name="new_title"  class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="" class="col-md-3 control-label">新闻时间</label>
                            <div class="col-md-6">
                                <input type="text" name="new_date"  class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="" class="col-md-3 control-label">新闻摘要</label>
                            <div class="col-md-6">
                                <textarea type="text" name="new_digest"  class="form-control" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <label for=""  class="col-md-3 control-label">新闻内容</label>
                            <div class="col-md-6">
                              <script id="editor" type="text/plain" name="new_content" style=""></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                	 <button class="btn btn-primary" type="submit">确定</button>
                </div>
               
            </form>
            <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
            <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"> </script>
            <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
            <script type="text/javascript">
                 var ue = UE.getEditor('editor');
            </script>
            
{/block}